:root {
    /*----------Text&Icon-----------*/
    /* GRAY */
    --Text-Icon-Gray-Black: var(--Gray-Black);
    --Text-Icon-Gray-Darker: var(--Gray-Darker);
    --Text-Icon-Gray-Dark: var(--Gray-Dark);
    --Text-Icon-Gray-Medium: var(--Gray-Medium);
    --Text-Icon-Gray-Light: var(--Gray-Light);
    --Text-Icon-Gray-Lighter: var(--Gray-Lighter);
    --Text-Icon-Gray-White: var(--Gray-White);

    /* Color1 */
    --Text-Icon-Color-1-Darker: var(--Color1-Darker);
    --Text-Icon-Color-1-Dark: var(--Color1-Dark);
    --Text-Icon-Color-1-Main: var(--Color1-Main);
    --Text-Icon-Color-1-Light: var(--Color1-Light);
    --Text-Icon-Color-1-Lighter: var(--Color1-Lighter);

    /* Color2 */
    --Text-Icon-Color-2-Darker: var(--Color2-Darker);
    --Text-Icon-Color-2-Dark: var(--Color2-Dark);
    --Text-Icon-Color-2-Main: var(--Color2-Main);
    --Text-Icon-Color-2-Light: var(--Color2-Light);
    --Text-Icon-Color-2-Lighter: var(--Color2-Lighter);
}