.promo-advantages {
    @include spacing(padding-block, 60px, 60px, 40px);
    display: flex;
    flex-direction: column;
    @include spacing(gap, 40px, 40px, 24px);

    &__title {
        @include spacing(max-width, 700px, 700px);
        @include h1;
        color: var(--Gray-Black);

        @include Mobile {
            max-width: unset;
            width: 100%;
        }
    }
    &__content {
        @include spacing(padding, 20px);
        width: 100%;
        background: var(--Gray-Lighter);
        @include spacing(border-radius, 32px, 32px, 20px);
    }
    &__items {
        display: grid;
        @include spacing(gap, 20px, 20px, 12px);
        grid-template-columns: repeat(3, 1fr);

        @include Mobile {
            display: flex;
            flex-direction: column;
        }
    }
    &__item {
        @include spacing(padding, 40px, 40px, 20px);
        display: flex;
        flex-direction: column;
        @include spacing(gap, 12px);
        @include spacing(border-radius, 32px, 32px, 20px);
        background: var(--Gray-White);

        &--title {
            @include h3;
            color: #389BFF;
        }
        &--text {
            @include t2;
            color: var(--Gray-Dark);
        }
    }
}