.problem-four {
    &__badge {
        margin-bottom: vw(12px);

        @include HD {
            margin-bottom: vwh(12px);
        }

        @include Mobile {
            margin-bottom: vwm(12px);
        }
    }

    &__title {
        @include h1;
        color: #0D0D0D;
        margin-bottom: vw(40px);
        max-width: vw(702px);

        @include HD {
            font-size: vwh(40px);
            margin-bottom: vwh(40px);
            max-width: vwh(702px);
        }

        @include Mobile {
            font-size: vwm(24px);
            margin-bottom: vwm(40px);
            max-width: 99%;
        }
    }

    &__container {
        display: grid;
        grid-template-columns: vw(580px) 1fr;
        gap: vw(20px);

        @include HD {
            grid-template-columns: vwh(520px) 1fr;
            gap: vwh(20px);
        }

        @include Mobile {
            grid-template-columns: 1fr;
            gap: vwm(12px);
        }
    }

    &__cards {
        display: grid;
        gap: vw(24px);

        @include HD {
            gap: vwh(24px);
        }

        @include Mobile {
            gap: vwm(12px);
        }
    }

    &__card {
        background-color: #F2F2F2;
        border-radius: vw(32px);
        display: grid;
        grid-template-columns: auto vw(387px);

        @include HD {
            border-radius: vwh(32px);
            grid-template-columns: auto vwh(303px);
        }

        @include Mobile {
            grid-template-columns: 1fr;
            border-radius: vwm(20px);
        }
    }

    &__card-left {
        padding: vw(24px);

        @include HD {
            padding: vwh(24px);
        }

        @include Mobile {
            padding: vwm(12px);
        }
    }

    &__card-badge, &__card-decision {
        border-radius: vw(32px);
        font-size: vw(20px);
        font-style: normal;
        font-weight: 600;
        line-height: 100%;
        background-color: #FFFFFF;
        display: inline-flex;
        margin-bottom: vw(24px);

        @include HD {
            border-radius: vwh(32px);
            font-size: vwh(20px);
            margin-bottom: vwh(24px);
        }

        @include Mobile {
            border-radius: vwm(8px);
            font-size: vwm(12px);
            line-height: 150%;
            margin-bottom: vwm(12px);
        }
    }

    &__card-badge {
        padding: vw(8px) vw(24px);
        color: #000;

        @include HD {
            padding: vwh(8px) vwh(24px);
        }

        @include Mobile {
            padding: vwm(4px) vwm(8px);
        }
    }

    &__card-decision {
        align-items: center;
        padding: vw(8px) vw(24px) vw(8px) vw(12px);
        color: #404040;
        gap: vw(10px);

        @include HD {
            padding: vwh(8px) vwh(24px) vwh(8px) vwh(12px);
            gap: vwh(10px);
        }

        @include Mobile {
            padding: vwm(4px) vwm(8px);
            gap: vwm(8px);
        }

        img {
            width: vw(24px);
            height: vw(24px);
            stroke: #0D0D0D;

            @include HD {
                width: vwh(24px);
                height: vwh(24px);
            }

            @include Mobile {
                width: vwm(20px);
                height: vwm(20px);
            }
        }
    }

    &__card-text {
        @include t1;
        color: #666;

        @include Mobile {
            @include t2;
        }
    }

    &__card-r-text {
        @include t1;
        color: #FFF;

        @include Mobile {
            @include t2;
        }
    }

    &__card-right {
        padding: vw(24px);
        border-radius: vw(32px);
        background-color: #6BB5FF;

        @include HD {
            padding: vwh(24px);
            border-radius: vwh(32px);
        }

        @include Mobile {
            padding: vwm(12px) vwm(12px) vwm(24px) vwm(12px);
            border-radius: vwm(20px);
        }
    }

    &__card-right_background_red {
        background-color: #FF5E5E;
    }


    &__image {
        height: vw(390px);
        border-radius: vw(32px);
        overflow: hidden;

        @include HD {
            height: vwh(390px);
            border-radius: vwh(32px);
        }

        @include Mobile {
            height: vwm(262px);
            border-radius: vwm(20px);
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }


}
