<tr style="height: 20px;">

</tr>

<!-- Layout Cards -->

<tr style="margin-top: 40px">
    <td>
        <table cellpadding="0" cellspacing="0" border="0" width="100%" style="margin-bottom: 20px">
            <tr>
                <th style="width: 184px"></th>
                <th style="width: 184px"></th>
                <th style="width: 184px"></th>
            </tr>
            <tr>
                <td>
                    <table cellpadding="0" cellspacing="0" border="0" style="

background-color: #ffffff;
width: 288px;
border-radius: 12px;
margin-right: 24px;
">
                        <tr style="display: table-cell" align="center">
                            <td style="padding: 16px 16px;">
                                <a href="<?=url('/user/')?>" style="
font-size: 12px;
text-decoration: none;
font-weight: 500;
font-family: 'Arial', Arial;
color: #FF312C;
display: table-cell;
">
                                    <img width="24" src="/assets/user.png" alt="Личный кабинет"
                                        style="margin-right: 8px; vertical-align: middle;" />
                                    <span style="vertical-align: middle;">Личный кабинет</span>
                                </a>
                            </td>
                        </tr>
                    </table>
                </td>
                <td>
                    <table cellpadding="0" cellspacing="0" border="0"
                        style=" background-color: #ffffff; width: 288px; border-radius: 12px;">
                        <tr style="display: table-cell; padding: 16px 16px;" align="center">
                            <td>
                                <a href="#" style="
font-size: 12px;
text-decoration: none;
font-weight: 500;
font-family: 'Arial', Arial;
color: #FF312C;
display: table-cell;
">
                                    <img width="24" src="/assets/heart.png" alt="Избранное"
                                        style="margin-right: 8px; vertical-align: middle;" />
                                    <span style="vertical-align: middle;">Избранное</span>
                                </a>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr style="background-color: #ffffff"></tr>
            <tr style="background-color: #ffffff"></tr>
        </table>
    </td>
</tr>

<!-- End Layout Cards -->
<tr>
    <!-- Footer -->
    <td align="center" valign="top" style="background: #E0EBF0; border-radius: 20px">
        <table cellpadding="0" cellspacing="0" border="0" width="100%" class="footer"
            style="width: 100% !important; min-width: 100%; max-width: 100%; padding: 32px 20px; display: block;">
            <tbody style="vertical-align: top">
                <tr>
                    <td>
                        <table style="width: 178px; border-spacing: 0;">

                            <tr>
                                <td style="padding: 0;">
                                    <a style="
                display: inline-block;
                padding: 9.5px 20px;
                gap: 8px;
                border-radius: 30px;
                background: #1E1F33;

                color: #ffffff;
                text-align: center;

                text-decoration: none;
                font-family: Arial, Helvetica, sans-serif;
                font-size: 14px;
                font-style: normal;
                font-weight: 500;
                line-height: 150%; /* 21px */
                " href="#">Перейти на сайт</a>
                                </td>
                            </tr>

                            <tr>
                                <td style="height: 24px; padding: 0;"></td>
                            </tr>

                            <tr>
                                <td style="padding: 0;">
                                    <span style="
                color: #74767A;
                font-family: Arial, 'sans-serif';
                font-size: 14px;
                font-style: normal;
                font-weight: 600;
                line-height: 150%;
                ">Телефон для связи:</span>
                                </td>
                            </tr>
                            <tr>
                                <td style="height: 40px; padding: 0;">
                                    <a href="tel:<?=\Simflex\Core\Core::siteParam('phone')?>" style="
color: #393C41;
font-size: 20px;
line-height: 106%;
font-weight: 700;
font-family: Arial, Tahoma;
text-decoration: none;
letter-spacing: 0.2px;
font-feature-settings: 'pnum' on, 'lnum' on, 'ss09' on, 'liga' off;
">
                                        <?=\Simflex\Core\Core::siteParam('phone')?>
                                        8 800 555 35 35
                                    </a>
                                </td>
                            </tr>

                            <tr>
                                <td style="padding: 0;">
                                    <span style="
                color: #74767A;
                font-family: Arial, 'sans-serif';
                font-size: 14px;
                font-style: normal;
                font-weight: 600;
                line-height: 150%;
                ">Почта:</span>
                                </td>
                            </tr>
                            <tr>
                                <td style="height: 40px; padding: 0;">
                                    <a href="mailto:<?=\Simflex\Core\Core::siteParam('email')?>"
                                        style="
color: #393C41;
font-size: 20px;
line-height: 106%;
font-weight: 700;
font-family: Arial, Tahoma;
text-decoration: none;
letter-spacing: 0.2px;
">
                                        <?=\Simflex\Core\Core::siteParam('email')?>
                                        Customer@dom.ru
                                    </a>
                                </td>
                            </tr>

                            <tr>
                                <td style="height: 12px; padding: 0;"></td>
                            </tr>

                            <tr>
                                <td style="padding: 0;">
                                    <span style="
                color: #74767A;
                font-family: Arial, 'sans-serif';
                font-size: 14px;
                font-style: normal;
                font-weight: 600;
                line-height: 150%;
                ">Мы в соц.сетях:</span>
                                </td>
                            </tr>
                            <tr>
                                <td style="padding: 0;">
                                    <table cellpadding="0" cellspacing="0" border="0"
                                        style="margin-top: 8px">
                                        <tr>
                                            <?php if (\Simflex\Core\Core::siteParam('vk')): ?>
                                            <td style="padding-right: 8px">
                                                <a href="<?=\Simflex\Core\Core::siteParam('vk')?>"
                                                    style="cursor: point;">
                                                    <img src="/assets/social-vk.png" width="40px"
                                                        alt="ВКонтакте" />
                                                </a>
                                            </td>
                                            <?php endif; ?>
                                            <?php if (\Simflex\Core\Core::siteParam('tg')): ?>
                                            <td style="padding-right: 8px">
                                                <a href="<?=\Simflex\Core\Core::siteParam('tg')?>"
                                                    style="cursor: point;">
                                                    <img src="/assets/social-tg.png" width="40px"
                                                        alt="Телеграм" />
                                                </a>
                                            </td>
                                            <?php endif; ?>
                                            <?php if (\Simflex\Core\Core::siteParam('whats_app')): ?>
                                            <td style="padding-right: 8px">
                                                <a href="<?=\Simflex\Core\Core::siteParam('whats_app')?>"
                                                    style="cursor: point;">
                                                    <img src="/assets/social-ok.png" width="40px"
                                                        alt="Одноклассники" />
                                                </a>
                                            </td>
                                            <?php endif; ?>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </td>

                    <td>
                        <span
                            style="margin: 0 40px; display: inline-block; width: 2px; height: 313px; background-color: #afdae8;">

                        </span>
                    </td>

                    <td>
                        <table cellpadding="0" cellspacing="0" border="0" width="100%"
                            style="width: 237px">
                            <tr>
                                <td style="height: 40px; padding: 0;">
                                    <a target="_blank" href="<?=url('/delivery/')?>" style="
font-family: Arial;
font-size: 14px;
font-style: normal;
font-weight: 600;
line-height: 150%;
color: #5C5E62;
cursor: pointer;
text-decoration: none;
">Распродажа</a>
                                </td>
                            </tr>
                            <tr>
                                <td style="height: 40px; padding: 0;">
                                    <a target="_blank" href="<?=url('/terms/')?>" style="
font-family: Arial;
font-size: 14px;
font-style: normal;
font-weight: 600;
line-height: 150%;
color: #5C5E62;
cursor: pointer;
text-decoration: none;
">Интернет-оборудование</a>
                                </td>
                            </tr>
                            <tr>
                                <td style="height: 40px; padding: 0;">
                                    <a target="_blank" href="<?=url('/info/qna/')?>" style="
font-family: Arial;
font-size: 14px;
font-style: normal;
font-weight: 600;
line-height: 150%;
color: #5C5E62;
cursor: pointer;
text-decoration: none;
">Видеонаблюдение</a>
                                </td>
                            </tr>
                            <tr>
                                <td style="height: 40px; padding: 0;">
                                    <a target="_blank" href="<?=url('/info/qna/')?>" style="
font-family: Arial;
font-size: 14px;
font-style: normal;
font-weight: 600;
line-height: 150%;
color: #5C5E62;
cursor: pointer;
text-decoration: none;
">ТВ-приставки MOVIX</a>
                                </td>
                            </tr>
                            <tr>
                                <td style="height: 40px; padding: 0;">
                                    <a target="_blank" href="<?=url('/faq/')?>" style="
font-family: Arial;
font-size: 14px;
font-style: normal;
font-weight: 600;
line-height: 150%;
color: #5C5E62;
cursor: pointer;
text-decoration: none;
">Яндекс.Станции</a>
                                </td>
                            </tr>
                            <tr>
                                <td style="height: 40px; padding: 0;">
                                    <a target="_blank" href="<?=url('/faq/')?>" style="
font-family: Arial;
font-size: 14px;
font-style: normal;
font-weight: 600;
line-height: 150%;
color: #5C5E62;
cursor: pointer;
text-decoration: none;
">Домофоны и аудитотрубки</a>
                                </td>
                            </tr>
                            <tr>
                                <td style="height: 40px; padding: 0;">
                                    <a target="_blank" href="<?=url('/faq/')?>" style="
font-family: Arial;
font-size: 14px;
font-style: normal;
font-weight: 600;
line-height: 150%;
color: #5C5E62;
cursor: pointer;
text-decoration: none;
">Умный дом</a>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </tbody>
        </table>
    </td>
    <!-- End Footer -->

    <!-- Copyrights -->
</tr>
<tr>
    <td style="height: 20px; background-color: transparent"></td>
</tr>
<tr>
    <td>
        <table>
            <tr>
                <td valign="center" style="background-color: transparent">
                    <span style="
font-family: 'Arial', Tahoma, Geneva, sans-serif;
font-style: normal;
color: #74767A;
font-size: 14px;
line-height: 150%;
font-weight: 400;
font-feature-settings: 'pnum' on, 'lnum' on, 'ss09' on, 'liga' off;
">
                        ©
                        АО «ЭР-Телеком Холдинг» 2011-
                        <?=date('Y')?>
                    </span>
                </td>
            </tr>
        </table>
    </td>
</tr>
<!-- End Copyrights -->
<tr>
    <td style="height: 20px; background-color: transparent"></td>
</tr>
</table>
</td>
</tr>
</table>
</body>

</html>