<tr style="display: table-row-group; vertical-align: top;">
    <td style="padding-top: 12px; padding-bottom: 12px;">
        <h5 style="
            color: #393C41;

            /* H5 */
            font-family: Arial, Helvetica, sans-serif;
            font-size: 18px;
            font-style: normal;
            font-weight: 700;
            line-height: 106%;

            padding: 0;
            margin: 0;
            
            ">Способ доставки</h5>
        <table cellpadding="0" cellspacing="0" border="0" width="100%">
            <tr>
                <td style="padding: 0; height: 12px;"></td>
            </tr>
            <tr style="vertical-align: top">
                <td style="width: 24px; padding-right: 8px">
                    <img width="24" height="24"
                        src="/assets/delivery-car.png"
                        alt="Иконка доставки" />
                </td>
                <td>
                    <table cellpadding="0" cellspacing="0" border="0"
                        width="100%">
                        <tr>
                            <td>
                                <span style="
                                color: #5c5e62;

                                /* T3 */
                                font-family: Arial, Helvetica, sans-serif;
                                font-size: 16px;
                                font-style: normal;
                                font-weight: 400;
                                line-height: 150%; /* 24px */
">Почта России, от 10 до 12 рабочих дней, бесплатно</span>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td style="padding: 0; height: 12px;"></td>
            </tr>
            <tr style="vertical-align: top">
                <td style="width: 24px; padding-right: 8px">
                    <img width="24" height="24" src="/assets/geo.png"
                        alt="Иконка геолокации" />
                </td>
                <td>
                    <table cellpadding="0" cellspacing="0" border="0"
                        width="100%">
                        <tr>
                            <td>
                                <span style="
                                color: #5c5e62;

                                /* T3 */
                                font-family: Arial, Helvetica, sans-serif;
                                font-size: 16px;
                                font-style: normal;
                                font-weight: 400;
                                line-height: 150%; /* 24px */
">614083, Пермский край, г.Пермь, ул. Грузинская, д.7</span>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </td>
</tr>