.advantages {
    &__container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: vw(40px) vw(20px);

        @include HD {
            gap: vwh(40px) vwh(20px);
        }
        @include Mobile {
            grid-template-columns: 1fr;
            gap: vwm(24px);
        }
    }

    &__title {
        color: #000000;
        margin-bottom: vw(40px);

        @include HD {
            margin-bottom: vwh(40px);
        }

        @include Mobile {
            margin-bottom: vwm(40px);
            padding: 0 vwm(12px);
        }
    }

    &__card:nth-child(1), &__card:nth-child(4) {
        background-color: #F2F2F2;

        .advantage-card__title {
            color: #D93030;
        }

        .advantage-card__text {
            color: #404040;
        }
    }

    &__card:nth-child(2) {
        background-color: #525252;

        .advantage-card__title {
            color: #FFFFFF;
        }

        .advantage-card__text {
            color: #FFFFFF;
        }
    }

    &__card:nth-child(3) {
        background-color: #FF5E5E;

        .advantage-card__title {
            color: #FFFFFF;
        }

        .advantage-card__text {
            color: #FFFFFF;
        }
    }
}

.promo__advantages {
    @include spacing(padding-block, 60px, 60px, 40px);
}